[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
colorama = "*"
requests = "*"
bs4 = "*"
alive-progress = "*"
pandas = "*"
openpyxl = "*"
ipython = "*"
requests-cache = "*"
pathlib = "*"

[dev-packages]
pytest = "*"
ttkbootstrap = "*"

[requires]
python_version = "3.13"
