[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
colorama = "*"
requests = "*"
bs4 = "*"
pandas = "*"
openpyxl = "*"
requests-cache = "*"
pathlib = "*"
ttkbootstrap = "*"
gitpython = "*"

[dev-packages]
pytest = "*"
ipython = "*"

[requires]
python_version = "3.13"
